In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [11]:
project_df = pd.read_csv("resources\salary.csv")
project_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
project_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [13]:
project_df.sample(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
5007,63,Self-emp-not-inc,298249,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,10605,0,40,United-States,>50K
1133,37,Private,189382,Assoc-voc,11,Never-married,Adm-clerical,Own-child,White,Female,0,0,38,United-States,<=50K
8100,25,?,35829,Some-college,10,Divorced,?,Unmarried,White,Female,0,0,50,United-States,<=50K
23207,50,Local-gov,163921,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
1240,35,Private,33975,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,45,United-States,>50K
19975,37,Private,187748,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
4822,51,Private,182187,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Black,Male,0,0,35,United-States,<=50K
25247,23,Private,33423,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,30,United-States,<=50K
2746,57,Private,296152,Some-college,10,Divorced,Exec-managerial,Other-relative,White,Female,594,0,10,United-States,<=50K
12180,26,Private,174921,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
16381,20,Private,219835,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,30,?,<=50K
16067,60,Private,184242,HS-grad,9,Married-spouse-absent,Other-service,Unmarried,White,Female,0,0,20,United-States,<=50K
3101,65,Self-emp-inc,81413,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2352,65,United-States,<=50K
27076,45,Private,111979,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
30196,22,Private,440969,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
6240,21,Private,188793,HS-grad,9,Married-civ-spouse,Sales,Husband,Other,Male,0,0,35,United-States,<=50K
9174,18,Private,163787,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
24790,50,Self-emp-inc,167793,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,60,United-States,>50K
27103,37,Private,222450,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
5325,29,Private,255476,7th-8th,4,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,30,Mexico,<=50K

In [15]:
project_df.nunique()

age                  73
workclass             9
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       42
salary                2
dtype: int64